.sidebar {
   background-color: #f9f9f9;
   position: fixed;
   top: 56px;
   left: 0;
   bottom: 0;
   width: 50px;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   padding-top: 10px;
   overflow: hidden;
   border-right: 1px solid #ccc;
}

.sidebar.expanded {
   width: 200px;
}

.sidebarIcon {
   display: flex;
   align-items: center;
   padding: 10px;
   width: 100%;
   cursor: pointer;
}

.sidebarIcon:hover {
   background-color: rgba(0, 0, 0, 0.1);
}

.sidebarIcon img {
   width: 35px;
   height: 35px;
   margin: auto;
}

.sidebarIcon span {
   display: none;
   font-size: 20px;
   color: #333;
   padding-left: 10px;
}

.sidebar.expanded .sidebarIcon span {
   display: inline-block;
}

.sidebar.expanded .sidebarIcon img{
   margin: 0;
   margin-left:15px;
}



@media (max-width: 900px) {
   .sidebar {
      display: none;
   }

   .sidebar.expanded {
      display: flex;
      width: 100%;
      position: static;
      flex-direction: column;
      align-items: flex-start;
      background-color: white;
      border-top: 1px solid rgba(186, 181, 181, 0.636);
      padding: 10px;
   }

   .sidebarIcon img {
      margin: auto;
   }

   .sidebarIcon {
      justify-content: flex-start;
   }
}

@media (max-width: 600px) {
   .sidebarIcon img {
      margin: 0 auto;
   }

   .sidebar.expanded {
      margin-top: 30px;
      
   }
}
