/* Cały blok */
.videoGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 30px;
  margin: 15px 20px;
}

.videoPreview{
  cursor: pointer;
}

/* Miniaturka ze zdjęciem */

.imageGallery{
  width: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 16/9;
}

.imageRow{
  margin-bottom: 10px;
}

/* Napisy pod miniatturką filmu - Tytuł / Autor / Wyświetlenia / Awatar */

.infoGrid{
   display: grid;
   grid-template-columns: 50px 1fr;
}

.videoTitle{
   margin-top: 0;
   font-size: 16px;
   font-weight: 600;
   line-height: 20px;
   margin-bottom: 8px;
}

.videoCreator{
   display: inline-block;
   font-size: 12px;
   color: rgb(100, 100, 100);
   margin-bottom: 2px;
}
.videoCreator:hover{
   color: black;
}

.videoStatistics{
   display: block;
   font-size: 10px;
   color: rgb(100, 100, 100);
   margin-bottom: 5px;
}

.channelAvatar{
   margin-right: 4px;
}

.avatarPicture{  
   border-radius: 50px;
   height: 44px;
   width: 44px;
   object-fit: cover;
   object-position: center;
}


@media (max-width: 1400px) {
  .videoGrid {
     grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .videoGrid {
     grid-template-columns: 1fr 1fr;
     margin-top: 30px;
  }
}

@media (max-width: 600px) {
  .videoGrid {
     grid-template-columns: 1fr;
     margin-top: 30px;
  }

  .videoPreview {
     margin: 10px 0;
  }
}






